apiVersion: apps/v1
kind: Deployment
metadata:
  name: owncloud
  namespace: owncloud
  labels:
    app: owncloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: owncloud
  template:
    metadata:
      labels:
        app: owncloud
    spec:
      containers:
        - name: owncloud
          image: docker.io/bitnami/owncloud:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: OWNCLOUD_USERNAME
              value: "admin"
            - name: OWNCLOUD_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: owncloud-secret
                  key: password
            - name: OWNCLOUD_HOST
              value: "asuna.chimp-ulmer.ts.net"
            - name: OWNCLOUD_OVERWRITE_WEBROOT
              value: "/owncloud"
            - name: OWNCLOUD_OVERWRITE_PROTOCOL
              value: "https"
            - name: OWNCLOUD_OVERWRITE_HOST
              value: "asuna.chimp-ulmer.ts.net"
            - name: OWNCLOUD_DATABASE_HOST
              value: "owncloud-mariadb"
            - name: OWNCLOUD_DATABASE_PORT
              value: "3306"
            - name: OWNCLOUD_DATABASE_NAME
              value: "owncloud"
            - name: OWNCLOUD_DATABASE_USER
              value: "owncloud"
            - name: OWNCLOUD_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: owncloud-mariadb-secret
                  key: password
          volumeMounts:
            - mountPath: /bitnami/owncloud
              name: owncloud-data
            - mountPath: /bitnami/apache
              name: apache-data
          livenessProbe:
            httpGet:
              path: /status.php
              port: http
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /status.php
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
            successThreshold: 1
      volumes:
        - name: owncloud-data
          persistentVolumeClaim:
            claimName: owncloud-data
        - name: apache-data
          persistentVolumeClaim:
            claimName: owncloud-apache
---
apiVersion: v1
kind: Service
metadata:
  name: owncloud
  namespace: owncloud
  labels:
    app: owncloud
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: owncloud
