## OwnCloud Configuration
## Values suitable for a path-based setup
##
image:
  registry: docker.io
  repository: bitnami/owncloud
  tag: latest
  pullPolicy: IfNotPresent

## OwnCloud host to create application URLs
## ref: https://github.com/bitnami/bitnami-docker-owncloud#configuration
##
owncloudHost: asuna.chimp-ulmer.ts.net

## User of the application
## ref: https://github.com/bitnami/bitnami-docker-owncloud#configuration
##
owncloudUsername: admin

## Application password
## Defaults to a random 10-character alphanumeric string if not set
## ref: https://github.com/bitnami/bitnami-docker-owncloud#configuration
##
owncloudPassword: ""

## Set to `yes` to allow the container to be started with blank passwords
## ref: https://github.com/bitnami/bitnami-docker-owncloud#environment-variables
allowEmptyPassword: false

## Database configuration
##
mariadb:
  enabled: true
  ## Database name, user and password
  ## ref: https://github.com/bitnami/bitnami-docker-mariadb#creating-a-database-user-on-first-run
  ##
  auth:
    database: owncloud
    username: owncloud
    password: ""
    rootPassword: ""
  primary:
    persistence:
      enabled: true
      existingClaim: "owncloud-mariadb"
      storageClass: owncloud-mariadb

persistence:
  enabled: true
  existingClaim: "owncloud-data"
  storageClass: owncloud-data
  accessMode: ReadWriteOnce
  size: 50Gi

## Configure extra options for liveness and readiness probes
livenessProbe:
  enabled: true
  initialDelaySeconds: 120
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 6
  successThreshold: 1

## Configuration for the path-based routing
##
owncloudSubPath: "/owncloud"

extraEnvVars:
  - name: OWNCLOUD_SKIP_INSTALL
    value: "no"
  - name: OWNCLOUD_SAFE_HTACCESS
    value: "yes"
  - name: OWNCLOUD_TRUSTED_PROXIES
    value: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
  - name: OWNCLOUD_HOST
    value: "asuna.chimp-ulmer.ts.net"
  - name: OWNCLOUD_OVERWRITE_WEBROOT
    value: "/owncloud"
  - name: OWNCLOUD_OVERWRITE_PROTOCOL
    value: "https"
  - name: OWNCLOUD_OVERWRITE_HOST
    value: "asuna.chimp-ulmer.ts.net"

## HTTPS configuration
ingress:
  enabled: false  # We'll create our own ingress

service:
  type: ClusterIP
  port: 80
