apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n
  namespace: n8n
  labels:
    app: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n
  template:
    metadata:
      labels:
        app: n8n
    spec:
      containers:
      - name: n8n
        image: n8nio/n8n:latest
        ports:
        - containerPort: 5678
        env:
        - name: N8N_PORT
          value: "5678"
        - name: DB_TYPE
          value: "postgresdb"
        - name: DB_POSTGRESDB_HOST
          valueFrom:
            secretKeyRef:
              name: n8n-db-credentials
              key: DB_POSTGRESDB_HOST
        - name: DB_POSTGRESDB_PORT
          valueFrom:
            secretKeyRef:
              name: n8n-db-credentials
              key: DB_POSTGRESDB_PORT
        - name: DB_POSTGRESDB_DATABASE
          valueFrom:
            secretKeyRef:
              name: n8n-db-credentials
              key: DB_POSTGRESDB_DATABASE
        - name: DB_POSTGRESDB_USER
          valueFrom:
            secretKeyRef:
              name: n8n-db-credentials
              key: DB_POSTGRESDB_USER
        - name: DB_POSTGRESDB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: n8n-db-credentials
              key: DB_POSTGRESDB_PASSWORD
        - name: N8N_LOG_LEVEL
          value: "debug"
        - name: N8N_AUTO_MIGRATE_DATABASE
          value: "true"
        - name: N8N_TRUST_PROXY
          value: "true"
        - name: N8N_SKIP_WEBHOOK_DEREGISTRATION_SHUTDOWN
          value: "false"
        - name: N8N_RUNNERS_ENABLED
          value: "true"
        - name: NODE_ENV
          value: "production"
        - name: N8N_PATH
          value: "/"
        - name: N8N_HOST
          value: "0.0.0.0"
        - name: N8N_EDITOR_BASE_URL
          value: "https://n8n.app.pesulabs.net"
        - name: DB_POSTGRESDB_SSL_REJECT_UNAUTHORIZED
          value: "false"
        - name: N8N_DIAGNOSTICS_ENABLED
          value: "false"
        - name: N8N_USER_MANAGEMENT_DISABLED
          value: "false"
        resources:
          limits:
            cpu: 1000m
            memory: 1Gi
          requests:
            cpu: 100m
            memory: 256Mi
        volumeMounts:
        - name: data
          mountPath: /home/node/.n8n
      volumes:
      - name: data
        persistentVolumeClaim:
          claimName: n8n-data
