apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: n8n
  namespace: n8n
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "64m"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - host: asuna.chimp-ulmer.ts.net
    http:
      paths:
      - path: /n8n(/|$)(.*)
        pathType: Prefix
        backend:
          service:
            name: n8n
            port:
              number: 80
