apiVersion: v1
kind: ConfigMap
metadata:
  name: home-assistant-config
  namespace: home-assistant
data:
  configuration.yaml: |
    # Configure a default setup of Home Assistant
    default_config:

    # Text to speech
    tts:
      - platform: google_translate

    # Configure HTTP settings for reverse proxy
    http:
      use_x_forwarded_for: true
      # Remove explicit trusted_proxies as they'll be set via environment variables
      use_x_forwarded_host: true
      ip_ban_enabled: false
      server_host: 0.0.0.0
      server_port: 8123
      root_path: /home-assistant
      base_url: https://asuna.chimp-ulmer.ts.net/home-assistant
      login_attempts_threshold: 5

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
