apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant
  namespace: home-assistant
  labels:
    app: home-assistant
spec:
  replicas: 1
  selector:
    matchLabels:
      app: home-assistant
  template:
    metadata:
      labels:
        app: home-assistant
    spec:
      containers:
      - name: home-assistant
        image: ghcr.io/home-assistant/home-assistant:2025.3.3
        ports:
        - containerPort: 8123
          name: http
        env:
        - name: TZ
          value: "America/Argentina/Buenos_Aires"
        - name: HASS_EXTRA_ARGS
          value: "--skip-pip-packages check-manifest pylint,pytest,pytest-cov,pytest-asyncio,black,blacken-docs"
        - name: DISABLE_JEMALLOC
          value: "true"
        - name: HOME_ASSISTANT_TRUSTED_PROXIES
          value: "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,fd00::/8,10.42.0.0/16"
        volumeMounts:
        - name: config
          mountPath: /config
        - name: home-assistant-config
          mountPath: /config/configuration.yaml
          subPath: configuration.yaml
        resources:
          limits:
            memory: 1Gi
            cpu: 1
          requests:
            memory: 512Mi
            cpu: 200m
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: home-assistant-config
      - name: home-assistant-config
        configMap:
          name: home-assistant-config
