---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homelab
resources:
  - ../../../infrastructure/kubernetes/services/whisper/whisper.yaml
  - ../../../infrastructure/kubernetes/services/lobechat/mem0-middleware.yaml
  - ../../../infrastructure/kubernetes/services/lobechat/lobechat.yaml
