apiVersion: v1
kind: Service
metadata:
  name: llamacpp-mistral
  namespace: llamacpp
  labels:
    app.kubernetes.io/name: llamacpp
    app.kubernetes.io/component: service
    app.kubernetes.io/instance: mistral
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: llamacpp
    app.kubernetes.io/component: deployment
    app.kubernetes.io/instance: mistral
