apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  # Add any other resources your app needs
  # - pvc.yaml
  # - configmap.yaml
  # - secret.yaml
