apiVersion: v1
kind: Service
metadata:
  name: homer
  namespace: homer
  labels:
    app: homer
spec:
  selector:
    app: homer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
