apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: servicemonitors.monitoring.coreos.com
spec:
  group: monitoring.coreos.com
  names:
    kind: ServiceMonitor
    plural: servicemonitors
    singular: servicemonitor
    shortNames:
    - smon
  scope: Namespaced
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: object
        properties:
          spec:
            type: object
            properties:
              selector:
                type: object
              endpoints:
                type: array
                items:
                  type: object
                  properties:
                    port:
                      type: string
                    interval:
                      type: string
                    path:
                      type: string
                    scheme:
                      type: string
                    tlsConfig:
                      type: object
                    bearerTokenFile:
                      type: string
                    honorLabels:
                      type: boolean
                    metricRelabelings:
                      type: array
                      items:
                        type: object
                    relabelings:
                      type: array
                      items:
                        type: object
