apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
      errors
      health {
          lameduck 5s
      }
      ready
      kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
      }
      prometheus :9153
      forward . tls://1.1.1.1 tls://1.0.0.1 {
          tls_servername cloudflare-dns.com
          policy sequential
          health_check 5s
      }
      cache 30
      loop
      reload
      loadbalance
    }
    tailnet.ts:53 {
    forward . 100.100.100.100  # Tailscale MagicDNS
    }

    cloudflare-dns.com:53 {
        forward . tls://1.1.1.1 tls://1.0.0.1 {
            tls_servername cloudflare-dns.com
        }
    }
  NodeHosts: |
    192.168.86.141 asuna
