---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  # Allocate IPs from this range 
  # Make sure these are unused IPs in your network
  addresses:
  - 192.168.86.200-192.168.86.210
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: layer2-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
  - first-pool
