controller:
  kind: DaemonSet
  service:
    type: LoadBalancer
    externalTrafficPolicy: Local
  # Enable DDNS for your Tailscale node
  config:
    use-forwarded-headers: "true"
    compute-full-forwarded-for: "true"
    use-proxy-protocol: "false"
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  extraArgs:
    update-status: "true"
    update-status-on-shutdown: "true"
  podAnnotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "10254"
