apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tailscale # Recommended namespace for the Tailscale operator
resources:
  # Reference the bundled operator manifest
  - operator.yaml
  # Reference the encrypted secret
  - tailscale-secret.yaml
  # Use a single subnet router instead of individual connectors
  - subnet-router.yaml
  # CoreDNS for domain name resolution
  - coredns.yaml

# Apply the patches to update the Tailscale operator deployment
patchesStrategicMerge:
  - patches/operator-deployment-patch.yaml