apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tailscale # Recommended namespace for the Tailscale operator
resources:
  # Reference the bundled operator manifest
  - operator.yaml