apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - namespace.yaml
  - prometheus.yaml
  - grafana.yaml

configMapGenerator:
  - name: grafana-dashboards
    files:
      - dashboards/n8n-metrics.json
  - name: prometheus-config
    files:
      - prometheus/prometheus.yml
