apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: monitoring
  labels:
    app: loki
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3100"
spec:
  ports:
    - port: 3100
      protocol: TCP
      name: http
      targetPort: 3100
    - port: 9096
      protocol: TCP
      name: grpc
      targetPort: 9096
  selector:
    app: loki
