apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      labels:
        app: tailscale
    spec:
      serviceAccountName: tailscale
      containers:
      - name: tailscale
        image: tailscale/tailscale:v1.58.2
        env:
        - name: TS_AUTH_KEY
          valueFrom:
            secretKeyRef:
              name: tailscale
              key: key
        - name: TS_USERSPACE
          value: "true"
        - name: TS_HOSTNAME
          value: "k8s-asuna"
        - name: TS_STATE_DIR
          value: "/var/lib/tailscale"
        - name: TS_KUBE_SECRET
          value: "tailscale-auth"
        - name: TS_ACCEPT_DNS
          value: "true"
        - name: TS_EXTRA_ARGS
          value: "--accept-routes --advertise-exit-node --advertise-routes=10.42.0.0/16,10.43.0.0/16"
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        volumeMounts:
        - name: tailscale-state
          mountPath: /var/lib/tailscale
      volumes:
      - name: tailscale-state
        persistentVolumeClaim:
          claimName: tailscale-state
