apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      labels:
        app: tailscale
    spec:
      serviceAccountName: tailscale
      containers:
      - name: tailscale
        image: tailscale/tailscale:v1.58.2
        command:
        - "/bin/bash"
        - "-c"
        args:
        - |
          set -ex
          echo "Starting tailscaled..."
          tailscaled --state=mem: &
          TAILSCALED_PID=$!
          
          echo "Tailscaled started with PID $TAILSCALED_PID. Container will sleep indefinitely."
          
          # Keep container running without running 'tailscale up' for now
          sleep infinity
          
          # wait $TAILSCALED_PID # Don't wait for tailscaled, just sleep
        env:
        - name: TS_AUTH_KEY
          valueFrom:
            secretKeyRef:
              name: tailscale
              key: key
        - name: TS_USERSPACE
          value: "true"
        - name: TS_HOSTNAME
          value: "k8s-asuna"
        - name: TS_STATE_DIR
          value: "/var/lib/tailscale"
        - name: TS_ACCEPT_DNS
          value: "true"
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
        volumeMounts:
        - name: tailscale-state
          mountPath: /var/lib/tailscale
      volumes:
      - name: tailscale-state
        persistentVolumeClaim:
          claimName: tailscale-state
