[req]
default_bits = 4096
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
C = US
ST = Home
L = Lab
O = Homelab
CN = *.homelab.local

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.homelab.local
DNS.2 = homelab.local
DNS.3 = *.asuna.homelab.local
DNS.4 = *.pesubuntu.homelab.local
