apiVersion: v1
kind: Service
metadata:
  name: local-dns
  namespace: local-dns
  labels:
    app: local-dns
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
  - port: 53
    targetPort: 53
    protocol: UDP
    name: dns
  - port: 53
    targetPort: 53
    protocol: TCP
    name: dns-tcp
  - port: 9153
    targetPort: 9153
    protocol: TCP
    name: metrics
  selector:
    app: local-dns
