apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deploy.yaml

patches:
  # Configure service with fixed NodePorts and proper selectors
  - path: service-selector-patch.yaml
    target:
      kind: Service
      name: ingress-nginx-controller
