apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: flux-system # HelmRepository resources are typically cluster-scoped but managed within flux-system
spec:
  interval: 1h
  url: https://prometheus-community.github.io/helm-charts
